@import "foundation/all";

@font-face {
  font-family: 'EvaIcons';
  src:  url('./assets/fonts/EvaIcons.eot?j45dxx');
  src:  url('./assets/fonts/EvaIcons.eot?j45dxx#iefix') format('embedded-opentype'),
    url('./assets/fonts/EvaIcons.ttf?j45dxx') format('truetype'),
    url('./assets/fonts/EvaIcons.woff?j45dxx') format('woff'),
    url('./assets/fonts/EvaIcons.svg?j45dxx#EvaIcons') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.dsc-icon {
  display: inline-block;
}

[class^="dsc-icon-"], [class*=" dsc-icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'EvaIcons' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.dsc-icon-activity-outline {
  &:before {
    content: $dsc-icon-activity-outline; 
  }
}
.dsc-icon-alert-circle-outline {
  &:before {
    content: $dsc-icon-alert-circle-outline; 
  }
}
.dsc-icon-alert-triangle-outline {
  &:before {
    content: $dsc-icon-alert-triangle-outline; 
  }
}
.dsc-icon-archive-outline {
  &:before {
    content: $dsc-icon-archive-outline; 
  }
}
.dsc-icon-arrow-back-outline {
  &:before {
    content: $dsc-icon-arrow-back-outline; 
  }
}
.dsc-icon-arrow-circle-down-outline {
  &:before {
    content: $dsc-icon-arrow-circle-down-outline; 
  }
}
.dsc-icon-arrow-circle-left-outline {
  &:before {
    content: $dsc-icon-arrow-circle-left-outline; 
  }
}
.dsc-icon-arrow-circle-right-outline {
  &:before {
    content: $dsc-icon-arrow-circle-right-outline; 
  }
}
.dsc-icon-arrow-circle-up-outline {
  &:before {
    content: $dsc-icon-arrow-circle-up-outline; 
  }
}
.dsc-icon-arrow-down-outline {
  &:before {
    content: $dsc-icon-arrow-down-outline; 
  }
}
.dsc-icon-arrow-downward-outline {
  &:before {
    content: $dsc-icon-arrow-downward-outline; 
  }
}
.dsc-icon-arrow-forward-outline {
  &:before {
    content: $dsc-icon-arrow-forward-outline; 
  }
}
.dsc-icon-arrowhead-down-outline {
  &:before {
    content: $dsc-icon-arrowhead-down-outline; 
  }
}
.dsc-icon-arrowhead-left-outline {
  &:before {
    content: $dsc-icon-arrowhead-left-outline; 
  }
}
.dsc-icon-arrowhead-right-outline {
  &:before {
    content: $dsc-icon-arrowhead-right-outline; 
  }
}
.dsc-icon-arrowhead-up-outline {
  &:before {
    content: $dsc-icon-arrowhead-up-outline; 
  }
}
.dsc-icon-arrow-ios-back-outline {
  &:before {
    content: $dsc-icon-arrow-ios-back-outline; 
  }
}
.dsc-icon-arrow-ios-downward-outline {
  &:before {
    content: $dsc-icon-arrow-ios-downward-outline; 
  }
}
.dsc-icon-arrow-ios-forward-outline {
  &:before {
    content: $dsc-icon-arrow-ios-forward-outline; 
  }
}
.dsc-icon-arrow-ios-upward-outline {
  &:before {
    content: $dsc-icon-arrow-ios-upward-outline; 
  }
}
.dsc-icon-arrow-left-outline {
  &:before {
    content: $dsc-icon-arrow-left-outline; 
  }
}
.dsc-icon-arrow-right-outline {
  &:before {
    content: $dsc-icon-arrow-right-outline; 
  }
}
.dsc-icon-arrow-up-outline {
  &:before {
    content: $dsc-icon-arrow-up-outline; 
  }
}
.dsc-icon-arrow-upward-outline {
  &:before {
    content: $dsc-icon-arrow-upward-outline; 
  }
}
.dsc-icon-at-outline {
  &:before {
    content: $dsc-icon-at-outline; 
  }
}
.dsc-icon-attach-2-outline {
  &:before {
    content: $dsc-icon-attach-2-outline; 
  }
}
.dsc-icon-attach-outline {
  &:before {
    content: $dsc-icon-attach-outline; 
  }
}
.dsc-icon-award-outline {
  &:before {
    content: $dsc-icon-award-outline; 
  }
}
.dsc-icon-backspace-outline {
  &:before {
    content: $dsc-icon-backspace-outline; 
  }
}
.dsc-icon-bar-chart-2-outline {
  &:before {
    content: $dsc-icon-bar-chart-2-outline; 
  }
}
.dsc-icon-bar-chart-outline {
  &:before {
    content: $dsc-icon-bar-chart-outline; 
  }
}
.dsc-icon-battery-outline {
  &:before {
    content: $dsc-icon-battery-outline; 
  }
}
.dsc-icon-behance-outline {
  &:before {
    content: $dsc-icon-behance-outline; 
  }
}
.dsc-icon-bell-off-outline {
  &:before {
    content: $dsc-icon-bell-off-outline; 
  }
}
.dsc-icon-bell-outline {
  &:before {
    content: $dsc-icon-bell-outline; 
  }
}
.dsc-icon-bluetooth-outline {
  &:before {
    content: $dsc-icon-bluetooth-outline; 
  }
}
.dsc-icon-bookmark-outline {
  &:before {
    content: $dsc-icon-bookmark-outline; 
  }
}
.dsc-icon-book-open-outline {
  &:before {
    content: $dsc-icon-book-open-outline; 
  }
}
.dsc-icon-book-outline {
  &:before {
    content: $dsc-icon-book-outline; 
  }
}
.dsc-icon-briefcase-outline {
  &:before {
    content: $dsc-icon-briefcase-outline; 
  }
}
.dsc-icon-browser-outline {
  &:before {
    content: $dsc-icon-browser-outline; 
  }
}
.dsc-icon-brush-outline {
  &:before {
    content: $dsc-icon-brush-outline; 
  }
}
.dsc-icon-bulb-outline {
  &:before {
    content: $dsc-icon-bulb-outline; 
  }
}
.dsc-icon-calendar-outline {
  &:before {
    content: $dsc-icon-calendar-outline; 
  }
}
.dsc-icon-camera-outline {
  &:before {
    content: $dsc-icon-camera-outline; 
  }
}
.dsc-icon-car-outline {
  &:before {
    content: $dsc-icon-car-outline; 
  }
}
.dsc-icon-cast-outline {
  &:before {
    content: $dsc-icon-cast-outline; 
  }
}
.dsc-icon-charging-outline {
  &:before {
    content: $dsc-icon-charging-outline; 
  }
}
.dsc-icon-checkmark-circle-2-outline {
  &:before {
    content: $dsc-icon-checkmark-circle-2-outline; 
  }
}
.dsc-icon-checkmark-circle-outline {
  &:before {
    content: $dsc-icon-checkmark-circle-outline; 
  }
}
.dsc-icon-checkmark-outline {
  &:before {
    content: $dsc-icon-checkmark-outline; 
  }
}
.dsc-icon-checkmark-square-2-outline {
  &:before {
    content: $dsc-icon-checkmark-square-2-outline; 
  }
}
.dsc-icon-checkmark-square-outline {
  &:before {
    content: $dsc-icon-checkmark-square-outline; 
  }
}
.dsc-icon-chevron-down-outline {
  &:before {
    content: $dsc-icon-chevron-down-outline; 
  }
}
.dsc-icon-chevron-left-outline {
  &:before {
    content: $dsc-icon-chevron-left-outline; 
  }
}
.dsc-icon-chevron-right-outline {
  &:before {
    content: $dsc-icon-chevron-right-outline; 
  }
}
.dsc-icon-chevron-up-outline {
  &:before {
    content: $dsc-icon-chevron-up-outline; 
  }
}
.dsc-icon-clipboard-outline {
  &:before {
    content: $dsc-icon-clipboard-outline; 
  }
}
.dsc-icon-clock-outline {
  &:before {
    content: $dsc-icon-clock-outline; 
  }
}
.dsc-icon-close-circle-outline {
  &:before {
    content: $dsc-icon-close-circle-outline; 
  }
}
.dsc-icon-close-outline {
  &:before {
    content: $dsc-icon-close-outline; 
  }
}
.dsc-icon-close-square-outline {
  &:before {
    content: $dsc-icon-close-square-outline; 
  }
}
.dsc-icon-cloud-download-outline {
  &:before {
    content: $dsc-icon-cloud-download-outline; 
  }
}
.dsc-icon-cloud-upload-outline {
  &:before {
    content: $dsc-icon-cloud-upload-outline; 
  }
}
.dsc-icon-code-download-outline {
  &:before {
    content: $dsc-icon-code-download-outline; 
  }
}
.dsc-icon-code-outline {
  &:before {
    content: $dsc-icon-code-outline; 
  }
}
.dsc-icon-collapse-outline {
  &:before {
    content: $dsc-icon-collapse-outline; 
  }
}
.dsc-icon-color-palette-outline {
  &:before {
    content: $dsc-icon-color-palette-outline; 
  }
}
.dsc-icon-color-picker-outline {
  &:before {
    content: $dsc-icon-color-picker-outline; 
  }
}
.dsc-icon-compass-outline {
  &:before {
    content: $dsc-icon-compass-outline; 
  }
}
.dsc-icon-copy-outline {
  &:before {
    content: $dsc-icon-copy-outline; 
  }
}
.dsc-icon-corner-down-left-outline {
  &:before {
    content: $dsc-icon-corner-down-left-outline; 
  }
}
.dsc-icon-corner-down-right-outline {
  &:before {
    content: $dsc-icon-corner-down-right-outline; 
  }
}
.dsc-icon-corner-left-down-outline {
  &:before {
    content: $dsc-icon-corner-left-down-outline; 
  }
}
.dsc-icon-corner-left-up-outline {
  &:before {
    content: $dsc-icon-corner-left-up-outline; 
  }
}
.dsc-icon-corner-right-down-outline {
  &:before {
    content: $dsc-icon-corner-right-down-outline; 
  }
}
.dsc-icon-corner-right-up-outline {
  &:before {
    content: $dsc-icon-corner-right-up-outline; 
  }
}
.dsc-icon-corner-up-left-outline {
  &:before {
    content: $dsc-icon-corner-up-left-outline; 
  }
}
.dsc-icon-corner-up-right-outline {
  &:before {
    content: $dsc-icon-corner-up-right-outline; 
  }
}
.dsc-icon-credit-card-outline {
  &:before {
    content: $dsc-icon-credit-card-outline; 
  }
}
.dsc-icon-crop-outline {
  &:before {
    content: $dsc-icon-crop-outline; 
  }
}
.dsc-icon-cube-outline {
  &:before {
    content: $dsc-icon-cube-outline; 
  }
}
.dsc-icon-diagonal-arrow-left-down-outline {
  &:before {
    content: $dsc-icon-diagonal-arrow-left-down-outline; 
  }
}
.dsc-icon-diagonal-arrow-left-up-outline {
  &:before {
    content: $dsc-icon-diagonal-arrow-left-up-outline; 
  }
}
.dsc-icon-diagonal-arrow-right-down-outline {
  &:before {
    content: $dsc-icon-diagonal-arrow-right-down-outline; 
  }
}
.dsc-icon-diagonal-arrow-right-up-outline {
  &:before {
    content: $dsc-icon-diagonal-arrow-right-up-outline; 
  }
}
.dsc-icon-done-all-outline {
  &:before {
    content: $dsc-icon-done-all-outline; 
  }
}
.dsc-icon-download-outline {
  &:before {
    content: $dsc-icon-download-outline; 
  }
}
.dsc-icon-droplet-off-outline {
  &:before {
    content: $dsc-icon-droplet-off-outline; 
  }
}
.dsc-icon-droplet-outline {
  &:before {
    content: $dsc-icon-droplet-outline; 
  }
}
.dsc-icon-edit-2-outline {
  &:before {
    content: $dsc-icon-edit-2-outline; 
  }
}
.dsc-icon-edit-outline {
  &:before {
    content: $dsc-icon-edit-outline; 
  }
}
.dsc-icon-email-outline {
  &:before {
    content: $dsc-icon-email-outline; 
  }
}
.dsc-icon-expand-outline {
  &:before {
    content: $dsc-icon-expand-outline; 
  }
}
.dsc-icon-external-link-outline {
  &:before {
    content: $dsc-icon-external-link-outline; 
  }
}
.dsc-icon-eye-off-2-outline {
  &:before {
    content: $dsc-icon-eye-off-2-outline; 
  }
}
.dsc-icon-eye-off-outline {
  &:before {
    content: $dsc-icon-eye-off-outline; 
  }
}
.dsc-icon-eye-outline {
  &:before {
    content: $dsc-icon-eye-outline; 
  }
}
.dsc-icon-facebook-outline {
  &:before {
    content: $dsc-icon-facebook-outline; 
  }
}
.dsc-icon-file-add-outline {
  &:before {
    content: $dsc-icon-file-add-outline; 
  }
}
.dsc-icon-file-outline {
  &:before {
    content: $dsc-icon-file-outline; 
  }
}
.dsc-icon-file-remove-outline {
  &:before {
    content: $dsc-icon-file-remove-outline; 
  }
}
.dsc-icon-file-text-outline {
  &:before {
    content: $dsc-icon-file-text-outline; 
  }
}
.dsc-icon-film-outline {
  &:before {
    content: $dsc-icon-film-outline; 
  }
}
.dsc-icon-flag-outline {
  &:before {
    content: $dsc-icon-flag-outline; 
  }
}
.dsc-icon-flash-off-outline {
  &:before {
    content: $dsc-icon-flash-off-outline; 
  }
}
.dsc-icon-flash-outline {
  &:before {
    content: $dsc-icon-flash-outline; 
  }
}
.dsc-icon-flip-2-outline {
  &:before {
    content: $dsc-icon-flip-2-outline; 
  }
}
.dsc-icon-flip-outline {
  &:before {
    content: $dsc-icon-flip-outline; 
  }
}
.dsc-icon-folder-add-outline {
  &:before {
    content: $dsc-icon-folder-add-outline; 
  }
}
.dsc-icon-folder-outline {
  &:before {
    content: $dsc-icon-folder-outline; 
  }
}
.dsc-icon-folder-remove-outline {
  &:before {
    content: $dsc-icon-folder-remove-outline; 
  }
}
.dsc-icon-funnel-outline {
  &:before {
    content: $dsc-icon-funnel-outline; 
  }
}
.dsc-icon-gift-outline {
  &:before {
    content: $dsc-icon-gift-outline; 
  }
}
.dsc-icon-github-outline {
  &:before {
    content: $dsc-icon-github-outline; 
  }
}
.dsc-icon-globe-2-outline {
  &:before {
    content: $dsc-icon-globe-2-outline; 
  }
}
.dsc-icon-globe-outline {
  &:before {
    content: $dsc-icon-globe-outline; 
  }
}
.dsc-icon-google-outline {
  &:before {
    content: $dsc-icon-google-outline; 
  }
}
.dsc-icon-grid-outline {
  &:before {
    content: $dsc-icon-grid-outline; 
  }
}
.dsc-icon-hard-drive-outline {
  &:before {
    content: $dsc-icon-hard-drive-outline; 
  }
}
.dsc-icon-hash-outline {
  &:before {
    content: $dsc-icon-hash-outline; 
  }
}
.dsc-icon-headphones-outline {
  &:before {
    content: $dsc-icon-headphones-outline; 
  }
}
.dsc-icon-heart-outline {
  &:before {
    content: $dsc-icon-heart-outline; 
  }
}
.dsc-icon-home-outline {
  &:before {
    content: $dsc-icon-home-outline; 
  }
}
.dsc-icon-image-outline {
  &:before {
    content: $dsc-icon-image-outline; 
  }
}
.dsc-icon-inbox-outline {
  &:before {
    content: $dsc-icon-inbox-outline; 
  }
}
.dsc-icon-info-outline {
  &:before {
    content: $dsc-icon-info-outline; 
  }
}
.dsc-icon-keypad-outline {
  &:before {
    content: $dsc-icon-keypad-outline; 
  }
}
.dsc-icon-layers-outline {
  &:before {
    content: $dsc-icon-layers-outline; 
  }
}
.dsc-icon-layout-outline {
  &:before {
    content: $dsc-icon-layout-outline; 
  }
}
.dsc-icon-link-2-outline {
  &:before {
    content: $dsc-icon-link-2-outline; 
  }
}
.dsc-icon-linkedin-outline {
  &:before {
    content: $dsc-icon-linkedin-outline; 
  }
}
.dsc-icon-link-outline {
  &:before {
    content: $dsc-icon-link-outline; 
  }
}
.dsc-icon-list-outline {
  &:before {
    content: $dsc-icon-list-outline; 
  }
}
.dsc-icon-loader-outline {
  &:before {
    content: $dsc-icon-loader-outline; 
  }
}
.dsc-icon-lock-outline {
  &:before {
    content: $dsc-icon-lock-outline; 
  }
}
.dsc-icon-log-in-outline {
  &:before {
    content: $dsc-icon-log-in-outline; 
  }
}
.dsc-icon-log-out-outline {
  &:before {
    content: $dsc-icon-log-out-outline; 
  }
}
.dsc-icon-map-outline {
  &:before {
    content: $dsc-icon-map-outline; 
  }
}
.dsc-icon-maximize-outline {
  &:before {
    content: $dsc-icon-maximize-outline; 
  }
}
.dsc-icon-menu-2-outline {
  &:before {
    content: $dsc-icon-menu-2-outline; 
  }
}
.dsc-icon-menu-arrow-outline {
  &:before {
    content: $dsc-icon-menu-arrow-outline; 
  }
}
.dsc-icon-menu-outline {
  &:before {
    content: $dsc-icon-menu-outline; 
  }
}
.dsc-icon-message-circle-outline {
  &:before {
    content: $dsc-icon-message-circle-outline; 
  }
}
.dsc-icon-message-square-outline {
  &:before {
    content: $dsc-icon-message-square-outline; 
  }
}
.dsc-icon-mic-off-outline {
  &:before {
    content: $dsc-icon-mic-off-outline; 
  }
}
.dsc-icon-mic-outline {
  &:before {
    content: $dsc-icon-mic-outline; 
  }
}
.dsc-icon-minimize-outline {
  &:before {
    content: $dsc-icon-minimize-outline; 
  }
}
.dsc-icon-minus-circle-outline {
  &:before {
    content: $dsc-icon-minus-circle-outline; 
  }
}
.dsc-icon-minus-outline {
  &:before {
    content: $dsc-icon-minus-outline; 
  }
}
.dsc-icon-minus-square-outline {
  &:before {
    content: $dsc-icon-minus-square-outline; 
  }
}
.dsc-icon-monitor-outline {
  &:before {
    content: $dsc-icon-monitor-outline; 
  }
}
.dsc-icon-moon-outline {
  &:before {
    content: $dsc-icon-moon-outline; 
  }
}
.dsc-icon-more-horizontal-outline {
  &:before {
    content: $dsc-icon-more-horizontal-outline; 
  }
}
.dsc-icon-more-vertical-outline {
  &:before {
    content: $dsc-icon-more-vertical-outline; 
  }
}
.dsc-icon-move-outline {
  &:before {
    content: $dsc-icon-move-outline; 
  }
}
.dsc-icon-music-outline {
  &:before {
    content: $dsc-icon-music-outline; 
  }
}
.dsc-icon-navigation-2-outline {
  &:before {
    content: $dsc-icon-navigation-2-outline; 
  }
}
.dsc-icon-navigation-outline {
  &:before {
    content: $dsc-icon-navigation-outline; 
  }
}
.dsc-icon-npm-outline {
  &:before {
    content: $dsc-icon-npm-outline; 
  }
}
.dsc-icon-options-2-outline {
  &:before {
    content: $dsc-icon-options-2-outline; 
  }
}
.dsc-icon-options-outline {
  &:before {
    content: $dsc-icon-options-outline; 
  }
}
.dsc-icon-pantone-outline {
  &:before {
    content: $dsc-icon-pantone-outline; 
  }
}
.dsc-icon-paper-plane-outline {
  &:before {
    content: $dsc-icon-paper-plane-outline; 
  }
}
.dsc-icon-pause-circle-outline {
  &:before {
    content: $dsc-icon-pause-circle-outline; 
  }
}
.dsc-icon-people-outline {
  &:before {
    content: $dsc-icon-people-outline; 
  }
}
.dsc-icon-percent-outline {
  &:before {
    content: $dsc-icon-percent-outline; 
  }
}
.dsc-icon-person-add-outline {
  &:before {
    content: $dsc-icon-person-add-outline; 
  }
}
.dsc-icon-person-delete-outline {
  &:before {
    content: $dsc-icon-person-delete-outline; 
  }
}
.dsc-icon-person-done-outline {
  &:before {
    content: $dsc-icon-person-done-outline; 
  }
}
.dsc-icon-person-outline {
  &:before {
    content: $dsc-icon-person-outline; 
  }
}
.dsc-icon-person-remove-outline {
  &:before {
    content: $dsc-icon-person-remove-outline; 
  }
}
.dsc-icon-phone-call-outline {
  &:before {
    content: $dsc-icon-phone-call-outline; 
  }
}
.dsc-icon-phone-missed-outline {
  &:before {
    content: $dsc-icon-phone-missed-outline; 
  }
}
.dsc-icon-phone-off-outline {
  &:before {
    content: $dsc-icon-phone-off-outline; 
  }
}
.dsc-icon-phone-outline {
  &:before {
    content: $dsc-icon-phone-outline; 
  }
}
.dsc-icon-pie-chart-outline {
  &:before {
    content: $dsc-icon-pie-chart-outline; 
  }
}
.dsc-icon-pin-outline {
  &:before {
    content: $dsc-icon-pin-outline; 
  }
}
.dsc-icon-play-circle-outline {
  &:before {
    content: $dsc-icon-play-circle-outline; 
  }
}
.dsc-icon-plus-circle-outline {
  &:before {
    content: $dsc-icon-plus-circle-outline; 
  }
}
.dsc-icon-plus-outline {
  &:before {
    content: $dsc-icon-plus-outline; 
  }
}
.dsc-icon-plus-square-outline {
  &:before {
    content: $dsc-icon-plus-square-outline; 
  }
}
.dsc-icon-power-outline {
  &:before {
    content: $dsc-icon-power-outline; 
  }
}
.dsc-icon-pricetags-outline {
  &:before {
    content: $dsc-icon-pricetags-outline; 
  }
}
.dsc-icon-printer-outline {
  &:before {
    content: $dsc-icon-printer-outline; 
  }
}
.dsc-icon-question-mark-circle-outline {
  &:before {
    content: $dsc-icon-question-mark-circle-outline; 
  }
}
.dsc-icon-question-mark-outline {
  &:before {
    content: $dsc-icon-question-mark-outline; 
  }
}
.dsc-icon-radio-button-off-outline {
  &:before {
    content: $dsc-icon-radio-button-off-outline; 
  }
}
.dsc-icon-radio-button-on-outline {
  &:before {
    content: $dsc-icon-radio-button-on-outline; 
  }
}
.dsc-icon-radio-outline {
  &:before {
    content: $dsc-icon-radio-outline; 
  }
}
.dsc-icon-recording-outline {
  &:before {
    content: $dsc-icon-recording-outline; 
  }
}
.dsc-icon-refresh-outline {
  &:before {
    content: $dsc-icon-refresh-outline; 
  }
}
.dsc-icon-repeat-outline {
  &:before {
    content: $dsc-icon-repeat-outline; 
  }
}
.dsc-icon-rewind-left-outline {
  &:before {
    content: $dsc-icon-rewind-left-outline; 
  }
}
.dsc-icon-rewind-right-outline {
  &:before {
    content: $dsc-icon-rewind-right-outline; 
  }
}
.dsc-icon-save-outline {
  &:before {
    content: $dsc-icon-save-outline; 
  }
}
.dsc-icon-scissors-outline {
  &:before {
    content: $dsc-icon-scissors-outline; 
  }
}
.dsc-icon-search-outline {
  &:before {
    content: $dsc-icon-search-outline; 
  }
}
.dsc-icon-settings-2-outline {
  &:before {
    content: $dsc-icon-settings-2-outline; 
  }
}
.dsc-icon-settings-outline {
  &:before {
    content: $dsc-icon-settings-outline; 
  }
}
.dsc-icon-shake-outline {
  &:before {
    content: $dsc-icon-shake-outline; 
  }
}
.dsc-icon-share-outline {
  &:before {
    content: $dsc-icon-share-outline; 
  }
}
.dsc-icon-shield-off-outline {
  &:before {
    content: $dsc-icon-shield-off-outline; 
  }
}
.dsc-icon-shield-outline {
  &:before {
    content: $dsc-icon-shield-outline; 
  }
}
.dsc-icon-shopping-bag-outline {
  &:before {
    content: $dsc-icon-shopping-bag-outline; 
  }
}
.dsc-icon-shopping-cart-outline {
  &:before {
    content: $dsc-icon-shopping-cart-outline; 
  }
}
.dsc-icon-shuffle-2-outline {
  &:before {
    content: $dsc-icon-shuffle-2-outline; 
  }
}
.dsc-icon-shuffle-outline {
  &:before {
    content: $dsc-icon-shuffle-outline; 
  }
}
.dsc-icon-skip-back-outline {
  &:before {
    content: $dsc-icon-skip-back-outline; 
  }
}
.dsc-icon-skip-forward-outline {
  &:before {
    content: $dsc-icon-skip-forward-outline; 
  }
}
.dsc-icon-slash-outline {
  &:before {
    content: $dsc-icon-slash-outline; 
  }
}
.dsc-icon-smartphone-outline {
  &:before {
    content: $dsc-icon-smartphone-outline; 
  }
}
.dsc-icon-smiling-face-outline {
  &:before {
    content: $dsc-icon-smiling-face-outline; 
  }
}
.dsc-icon-speaker-outline {
  &:before {
    content: $dsc-icon-speaker-outline; 
  }
}
.dsc-icon-square-outline {
  &:before {
    content: $dsc-icon-square-outline; 
  }
}
.dsc-icon-star-outline {
  &:before {
    content: $dsc-icon-star-outline; 
  }
}
.dsc-icon-stop-circle-outline {
  &:before {
    content: $dsc-icon-stop-circle-outline; 
  }
}
.dsc-icon-sun-outline {
  &:before {
    content: $dsc-icon-sun-outline; 
  }
}
.dsc-icon-swap-outline {
  &:before {
    content: $dsc-icon-swap-outline; 
  }
}
.dsc-icon-sync-outline {
  &:before {
    content: $dsc-icon-sync-outline; 
  }
}
.dsc-icon-text-outline {
  &:before {
    content: $dsc-icon-text-outline; 
  }
}
.dsc-icon-thermometer-minus-outline {
  &:before {
    content: $dsc-icon-thermometer-minus-outline; 
  }
}
.dsc-icon-thermometer-outline {
  &:before {
    content: $dsc-icon-thermometer-outline; 
  }
}
.dsc-icon-thermometer-plus-outline {
  &:before {
    content: $dsc-icon-thermometer-plus-outline; 
  }
}
.dsc-icon-toggle-left-outline {
  &:before {
    content: $dsc-icon-toggle-left-outline; 
  }
}
.dsc-icon-toggle-right-outline {
  &:before {
    content: $dsc-icon-toggle-right-outline; 
  }
}
.dsc-icon-trash-2-outline {
  &:before {
    content: $dsc-icon-trash-2-outline; 
  }
}
.dsc-icon-trash-outline {
  &:before {
    content: $dsc-icon-trash-outline; 
  }
}
.dsc-icon-trending-down-outline {
  &:before {
    content: $dsc-icon-trending-down-outline; 
  }
}
.dsc-icon-trending-up-outline {
  &:before {
    content: $dsc-icon-trending-up-outline; 
  }
}
.dsc-icon-tv-outline {
  &:before {
    content: $dsc-icon-tv-outline; 
  }
}
.dsc-icon-twitter-outline {
  &:before {
    content: $dsc-icon-twitter-outline; 
  }
}
.dsc-icon-umbrella-outline {
  &:before {
    content: $dsc-icon-umbrella-outline; 
  }
}
.dsc-icon-undo-outline {
  &:before {
    content: $dsc-icon-undo-outline; 
  }
}
.dsc-icon-unlock-outline {
  &:before {
    content: $dsc-icon-unlock-outline; 
  }
}
.dsc-icon-upload-outline {
  &:before {
    content: $dsc-icon-upload-outline; 
  }
}
.dsc-icon-video-off-outline {
  &:before {
    content: $dsc-icon-video-off-outline; 
  }
}
.dsc-icon-video-outline {
  &:before {
    content: $dsc-icon-video-outline; 
  }
}
.dsc-icon-volume-down-outline {
  &:before {
    content: $dsc-icon-volume-down-outline; 
  }
}
.dsc-icon-volume-mute-outline {
  &:before {
    content: $dsc-icon-volume-mute-outline; 
  }
}
.dsc-icon-volume-off-outline {
  &:before {
    content: $dsc-icon-volume-off-outline; 
  }
}
.dsc-icon-volume-up-outline {
  &:before {
    content: $dsc-icon-volume-up-outline; 
  }
}
.dsc-icon-wifi-off-outline {
  &:before {
    content: $dsc-icon-wifi-off-outline; 
  }
}
.dsc-icon-wifi-outline {
  &:before {
    content: $dsc-icon-wifi-outline; 
  }
}
.dsc-icon-activity {
  &:before {
    content: $dsc-icon-activity; 
  }
}
.dsc-icon-alert-circle {
  &:before {
    content: $dsc-icon-alert-circle; 
  }
}
.dsc-icon-alert-triangle {
  &:before {
    content: $dsc-icon-alert-triangle; 
  }
}
.dsc-icon-archive {
  &:before {
    content: $dsc-icon-archive; 
  }
}
.dsc-icon-arrow-back {
  &:before {
    content: $dsc-icon-arrow-back; 
  }
}
.dsc-icon-arrow-circle-down {
  &:before {
    content: $dsc-icon-arrow-circle-down; 
  }
}
.dsc-icon-arrow-circle-left {
  &:before {
    content: $dsc-icon-arrow-circle-left; 
  }
}
.dsc-icon-arrow-circle-right {
  &:before {
    content: $dsc-icon-arrow-circle-right; 
  }
}
.dsc-icon-arrow-circle-up {
  &:before {
    content: $dsc-icon-arrow-circle-up; 
  }
}
.dsc-icon-arrow-down {
  &:before {
    content: $dsc-icon-arrow-down; 
  }
}
.dsc-icon-arrow-downward {
  &:before {
    content: $dsc-icon-arrow-downward; 
  }
}
.dsc-icon-arrow-forward {
  &:before {
    content: $dsc-icon-arrow-forward; 
  }
}
.dsc-icon-arrowhead-down {
  &:before {
    content: $dsc-icon-arrowhead-down; 
  }
}
.dsc-icon-arrowhead-left {
  &:before {
    content: $dsc-icon-arrowhead-left; 
  }
}
.dsc-icon-arrowhead-right {
  &:before {
    content: $dsc-icon-arrowhead-right; 
  }
}
.dsc-icon-arrowhead-up {
  &:before {
    content: $dsc-icon-arrowhead-up; 
  }
}
.dsc-icon-arrow-ios-back {
  &:before {
    content: $dsc-icon-arrow-ios-back; 
  }
}
.dsc-icon-arrow-ios-downward {
  &:before {
    content: $dsc-icon-arrow-ios-downward; 
  }
}
.dsc-icon-arrow-ios-forward {
  &:before {
    content: $dsc-icon-arrow-ios-forward; 
  }
}
.dsc-icon-arrow-ios-upward {
  &:before {
    content: $dsc-icon-arrow-ios-upward; 
  }
}
.dsc-icon-arrow-left {
  &:before {
    content: $dsc-icon-arrow-left; 
  }
}
.dsc-icon-arrow-right {
  &:before {
    content: $dsc-icon-arrow-right; 
  }
}
.dsc-icon-arrow-up {
  &:before {
    content: $dsc-icon-arrow-up; 
  }
}
.dsc-icon-arrow-upward {
  &:before {
    content: $dsc-icon-arrow-upward; 
  }
}
.dsc-icon-at {
  &:before {
    content: $dsc-icon-at; 
  }
}
.dsc-icon-attach {
  &:before {
    content: $dsc-icon-attach; 
  }
}
.dsc-icon-attach-2 {
  &:before {
    content: $dsc-icon-attach-2; 
  }
}
.dsc-icon-award {
  &:before {
    content: $dsc-icon-award; 
  }
}
.dsc-icon-backspace {
  &:before {
    content: $dsc-icon-backspace; 
  }
}
.dsc-icon-bar-chart {
  &:before {
    content: $dsc-icon-bar-chart; 
  }
}
.dsc-icon-bar-chart-2 {
  &:before {
    content: $dsc-icon-bar-chart-2; 
  }
}
.dsc-icon-battery {
  &:before {
    content: $dsc-icon-battery; 
  }
}
.dsc-icon-behance {
  &:before {
    content: $dsc-icon-behance; 
  }
}
.dsc-icon-bell {
  &:before {
    content: $dsc-icon-bell; 
  }
}
.dsc-icon-bell-off {
  &:before {
    content: $dsc-icon-bell-off; 
  }
}
.dsc-icon-bluetooth {
  &:before {
    content: $dsc-icon-bluetooth; 
  }
}
.dsc-icon-book {
  &:before {
    content: $dsc-icon-book; 
  }
}
.dsc-icon-bookmark {
  &:before {
    content: $dsc-icon-bookmark; 
  }
}
.dsc-icon-book-open {
  &:before {
    content: $dsc-icon-book-open; 
  }
}
.dsc-icon-briefcase {
  &:before {
    content: $dsc-icon-briefcase; 
  }
}
.dsc-icon-browser {
  &:before {
    content: $dsc-icon-browser; 
  }
}
.dsc-icon-brush {
  &:before {
    content: $dsc-icon-brush; 
  }
}
.dsc-icon-bulb {
  &:before {
    content: $dsc-icon-bulb; 
  }
}
.dsc-icon-calendar {
  &:before {
    content: $dsc-icon-calendar; 
  }
}
.dsc-icon-camera {
  &:before {
    content: $dsc-icon-camera; 
  }
}
.dsc-icon-car {
  &:before {
    content: $dsc-icon-car; 
  }
}
.dsc-icon-cast {
  &:before {
    content: $dsc-icon-cast; 
  }
}
.dsc-icon-charging {
  &:before {
    content: $dsc-icon-charging; 
  }
}
.dsc-icon-checkmark {
  &:before {
    content: $dsc-icon-checkmark; 
  }
}
.dsc-icon-checkmark-circle {
  &:before {
    content: $dsc-icon-checkmark-circle; 
  }
}
.dsc-icon-checkmark-circle-2 {
  &:before {
    content: $dsc-icon-checkmark-circle-2; 
  }
}
.dsc-icon-checkmark-square {
  &:before {
    content: $dsc-icon-checkmark-square; 
  }
}
.dsc-icon-checkmark-square-2 {
  &:before {
    content: $dsc-icon-checkmark-square-2; 
  }
}
.dsc-icon-chevron-down {
  &:before {
    content: $dsc-icon-chevron-down; 
  }
}
.dsc-icon-chevron-left {
  &:before {
    content: $dsc-icon-chevron-left; 
  }
}
.dsc-icon-chevron-right {
  &:before {
    content: $dsc-icon-chevron-right; 
  }
}
.dsc-icon-chevron-up {
  &:before {
    content: $dsc-icon-chevron-up; 
  }
}
.dsc-icon-clipboard {
  &:before {
    content: $dsc-icon-clipboard; 
  }
}
.dsc-icon-clock {
  &:before {
    content: $dsc-icon-clock; 
  }
}
.dsc-icon-close {
  &:before {
    content: $dsc-icon-close; 
  }
}
.dsc-icon-close-circle {
  &:before {
    content: $dsc-icon-close-circle; 
  }
}
.dsc-icon-close-square {
  &:before {
    content: $dsc-icon-close-square; 
  }
}
.dsc-icon-cloud-download {
  &:before {
    content: $dsc-icon-cloud-download; 
  }
}
.dsc-icon-cloud-upload {
  &:before {
    content: $dsc-icon-cloud-upload; 
  }
}
.dsc-icon-code {
  &:before {
    content: $dsc-icon-code; 
  }
}
.dsc-icon-code-download {
  &:before {
    content: $dsc-icon-code-download; 
  }
}
.dsc-icon-collapse {
  &:before {
    content: $dsc-icon-collapse; 
  }
}
.dsc-icon-color-palette {
  &:before {
    content: $dsc-icon-color-palette; 
  }
}
.dsc-icon-color-picker {
  &:before {
    content: $dsc-icon-color-picker; 
  }
}
.dsc-icon-compass {
  &:before {
    content: $dsc-icon-compass; 
  }
}
.dsc-icon-copy {
  &:before {
    content: $dsc-icon-copy; 
  }
}
.dsc-icon-corner-down-left {
  &:before {
    content: $dsc-icon-corner-down-left; 
  }
}
.dsc-icon-corner-down-right {
  &:before {
    content: $dsc-icon-corner-down-right; 
  }
}
.dsc-icon-corner-left-down {
  &:before {
    content: $dsc-icon-corner-left-down; 
  }
}
.dsc-icon-corner-left-up {
  &:before {
    content: $dsc-icon-corner-left-up; 
  }
}
.dsc-icon-corner-right-down {
  &:before {
    content: $dsc-icon-corner-right-down; 
  }
}
.dsc-icon-corner-right-up {
  &:before {
    content: $dsc-icon-corner-right-up; 
  }
}
.dsc-icon-corner-up-left {
  &:before {
    content: $dsc-icon-corner-up-left; 
  }
}
.dsc-icon-corner-up-right {
  &:before {
    content: $dsc-icon-corner-up-right; 
  }
}
.dsc-icon-credit-card {
  &:before {
    content: $dsc-icon-credit-card; 
  }
}
.dsc-icon-crop {
  &:before {
    content: $dsc-icon-crop; 
  }
}
.dsc-icon-cube {
  &:before {
    content: $dsc-icon-cube; 
  }
}
.dsc-icon-diagonal-arrow-left-down {
  &:before {
    content: $dsc-icon-diagonal-arrow-left-down; 
  }
}
.dsc-icon-diagonal-arrow-left-up {
  &:before {
    content: $dsc-icon-diagonal-arrow-left-up; 
  }
}
.dsc-icon-diagonal-arrow-right-down {
  &:before {
    content: $dsc-icon-diagonal-arrow-right-down; 
  }
}
.dsc-icon-diagonal-arrow-right-up {
  &:before {
    content: $dsc-icon-diagonal-arrow-right-up; 
  }
}
.dsc-icon-done-all {
  &:before {
    content: $dsc-icon-done-all; 
  }
}
.dsc-icon-download {
  &:before {
    content: $dsc-icon-download; 
  }
}
.dsc-icon-droplet {
  &:before {
    content: $dsc-icon-droplet; 
  }
}
.dsc-icon-droplet-off {
  &:before {
    content: $dsc-icon-droplet-off; 
  }
}
.dsc-icon-edit {
  &:before {
    content: $dsc-icon-edit; 
  }
}
.dsc-icon-edit-2 {
  &:before {
    content: $dsc-icon-edit-2; 
  }
}
.dsc-icon-email {
  &:before {
    content: $dsc-icon-email; 
  }
}
.dsc-icon-expand {
  &:before {
    content: $dsc-icon-expand; 
  }
}
.dsc-icon-external-link {
  &:before {
    content: $dsc-icon-external-link; 
  }
}
.dsc-icon-eye {
  &:before {
    content: $dsc-icon-eye; 
  }
}
.dsc-icon-eye-off {
  &:before {
    content: $dsc-icon-eye-off; 
  }
}
.dsc-icon-eye-off-2 {
  &:before {
    content: $dsc-icon-eye-off-2; 
  }
}
.dsc-icon-facebook {
  &:before {
    content: $dsc-icon-facebook; 
  }
}
.dsc-icon-file {
  &:before {
    content: $dsc-icon-file; 
  }
}
.dsc-icon-file-add {
  &:before {
    content: $dsc-icon-file-add; 
  }
}
.dsc-icon-file-remove {
  &:before {
    content: $dsc-icon-file-remove; 
  }
}
.dsc-icon-file-text {
  &:before {
    content: $dsc-icon-file-text; 
  }
}
.dsc-icon-film {
  &:before {
    content: $dsc-icon-film; 
  }
}
.dsc-icon-flag {
  &:before {
    content: $dsc-icon-flag; 
  }
}
.dsc-icon-flash {
  &:before {
    content: $dsc-icon-flash; 
  }
}
.dsc-icon-flash-off {
  &:before {
    content: $dsc-icon-flash-off; 
  }
}
.dsc-icon-flip {
  &:before {
    content: $dsc-icon-flip; 
  }
}
.dsc-icon-flip-2 {
  &:before {
    content: $dsc-icon-flip-2; 
  }
}
.dsc-icon-folder {
  &:before {
    content: $dsc-icon-folder; 
  }
}
.dsc-icon-folder-add {
  &:before {
    content: $dsc-icon-folder-add; 
  }
}
.dsc-icon-folder-remove {
  &:before {
    content: $dsc-icon-folder-remove; 
  }
}
.dsc-icon-funnel {
  &:before {
    content: $dsc-icon-funnel; 
  }
}
.dsc-icon-gift {
  &:before {
    content: $dsc-icon-gift; 
  }
}
.dsc-icon-github {
  &:before {
    content: $dsc-icon-github; 
  }
}
.dsc-icon-globe {
  &:before {
    content: $dsc-icon-globe; 
  }
}
.dsc-icon-globe-2 {
  &:before {
    content: $dsc-icon-globe-2; 
  }
}
.dsc-icon-globe-3 {
  &:before {
    content: $dsc-icon-globe-3; 
  }
}
.dsc-icon-google {
  &:before {
    content: $dsc-icon-google; 
  }
}
.dsc-icon-grid {
  &:before {
    content: $dsc-icon-grid; 
  }
}
.dsc-icon-hard-drive {
  &:before {
    content: $dsc-icon-hard-drive; 
  }
}
.dsc-icon-hash {
  &:before {
    content: $dsc-icon-hash; 
  }
}
.dsc-icon-headphones {
  &:before {
    content: $dsc-icon-headphones; 
  }
}
.dsc-icon-heart {
  &:before {
    content: $dsc-icon-heart; 
  }
}
.dsc-icon-home {
  &:before {
    content: $dsc-icon-home; 
  }
}
.dsc-icon-image {
  &:before {
    content: $dsc-icon-image; 
  }
}
.dsc-icon-image-2 {
  &:before {
    content: $dsc-icon-image-2; 
  }
}
.dsc-icon-inbox {
  &:before {
    content: $dsc-icon-inbox; 
  }
}
.dsc-icon-info {
  &:before {
    content: $dsc-icon-info; 
  }
}
.dsc-icon-keypad {
  &:before {
    content: $dsc-icon-keypad; 
  }
}
.dsc-icon-layers {
  &:before {
    content: $dsc-icon-layers; 
  }
}
.dsc-icon-layout {
  &:before {
    content: $dsc-icon-layout; 
  }
}
.dsc-icon-link {
  &:before {
    content: $dsc-icon-link; 
  }
}
.dsc-icon-link-2 {
  &:before {
    content: $dsc-icon-link-2; 
  }
}
.dsc-icon-linkedin {
  &:before {
    content: $dsc-icon-linkedin; 
  }
}
.dsc-icon-list {
  &:before {
    content: $dsc-icon-list; 
  }
}
.dsc-icon-lock {
  &:before {
    content: $dsc-icon-lock; 
  }
}
.dsc-icon-log-in {
  &:before {
    content: $dsc-icon-log-in; 
  }
}
.dsc-icon-log-out {
  &:before {
    content: $dsc-icon-log-out; 
  }
}
.dsc-icon-map {
  &:before {
    content: $dsc-icon-map; 
  }
}
.dsc-icon-maximize {
  &:before {
    content: $dsc-icon-maximize; 
  }
}
.dsc-icon-menu {
  &:before {
    content: $dsc-icon-menu; 
  }
}
.dsc-icon-menu-2 {
  &:before {
    content: $dsc-icon-menu-2; 
  }
}
.dsc-icon-menu-arrow {
  &:before {
    content: $dsc-icon-menu-arrow; 
  }
}
.dsc-icon-message-circle {
  &:before {
    content: $dsc-icon-message-circle; 
  }
}
.dsc-icon-message-square {
  &:before {
    content: $dsc-icon-message-square; 
  }
}
.dsc-icon-mic {
  &:before {
    content: $dsc-icon-mic; 
  }
}
.dsc-icon-mic-off {
  &:before {
    content: $dsc-icon-mic-off; 
  }
}
.dsc-icon-minimize {
  &:before {
    content: $dsc-icon-minimize; 
  }
}
.dsc-icon-minus {
  &:before {
    content: $dsc-icon-minus; 
  }
}
.dsc-icon-minus-circle {
  &:before {
    content: $dsc-icon-minus-circle; 
  }
}
.dsc-icon-minus-square {
  &:before {
    content: $dsc-icon-minus-square; 
  }
}
.dsc-icon-monitor {
  &:before {
    content: $dsc-icon-monitor; 
  }
}
.dsc-icon-moon {
  &:before {
    content: $dsc-icon-moon; 
  }
}
.dsc-icon-more-horizontal {
  &:before {
    content: $dsc-icon-more-horizontal; 
  }
}
.dsc-icon-more-vertical {
  &:before {
    content: $dsc-icon-more-vertical; 
  }
}
.dsc-icon-move {
  &:before {
    content: $dsc-icon-move; 
  }
}
.dsc-icon-music {
  &:before {
    content: $dsc-icon-music; 
  }
}
.dsc-icon-navigation {
  &:before {
    content: $dsc-icon-navigation; 
  }
}
.dsc-icon-navigation-2 {
  &:before {
    content: $dsc-icon-navigation-2; 
  }
}
.dsc-icon-npm {
  &:before {
    content: $dsc-icon-npm; 
  }
}
.dsc-icon-options {
  &:before {
    content: $dsc-icon-options; 
  }
}
.dsc-icon-options-2 {
  &:before {
    content: $dsc-icon-options-2; 
  }
}
.dsc-icon-pantone {
  &:before {
    content: $dsc-icon-pantone; 
  }
}
.dsc-icon-paper-plane {
  &:before {
    content: $dsc-icon-paper-plane; 
  }
}
.dsc-icon-pause-circle {
  &:before {
    content: $dsc-icon-pause-circle; 
  }
}
.dsc-icon-people {
  &:before {
    content: $dsc-icon-people; 
  }
}
.dsc-icon-percent {
  &:before {
    content: $dsc-icon-percent; 
  }
}
.dsc-icon-person {
  &:before {
    content: $dsc-icon-person; 
  }
}
.dsc-icon-person-add {
  &:before {
    content: $dsc-icon-person-add; 
  }
}
.dsc-icon-person-delete {
  &:before {
    content: $dsc-icon-person-delete; 
  }
}
.dsc-icon-person-done {
  &:before {
    content: $dsc-icon-person-done; 
  }
}
.dsc-icon-person-remove {
  &:before {
    content: $dsc-icon-person-remove; 
  }
}
.dsc-icon-phone {
  &:before {
    content: $dsc-icon-phone; 
  }
}
.dsc-icon-phone-call {
  &:before {
    content: $dsc-icon-phone-call; 
  }
}
.dsc-icon-phone-missed {
  &:before {
    content: $dsc-icon-phone-missed; 
  }
}
.dsc-icon-phone-off {
  &:before {
    content: $dsc-icon-phone-off; 
  }
}
.dsc-icon-pie-chart {
  &:before {
    content: $dsc-icon-pie-chart; 
  }
}
.dsc-icon-pie-chart-2 {
  &:before {
    content: $dsc-icon-pie-chart-2; 
  }
}
.dsc-icon-pin {
  &:before {
    content: $dsc-icon-pin; 
  }
}
.dsc-icon-play-circle {
  &:before {
    content: $dsc-icon-play-circle; 
  }
}
.dsc-icon-plus {
  &:before {
    content: $dsc-icon-plus; 
  }
}
.dsc-icon-plus-circle {
  &:before {
    content: $dsc-icon-plus-circle; 
  }
}
.dsc-icon-plus-square {
  &:before {
    content: $dsc-icon-plus-square; 
  }
}
.dsc-icon-power {
  &:before {
    content: $dsc-icon-power; 
  }
}
.dsc-icon-pricetags {
  &:before {
    content: $dsc-icon-pricetags; 
  }
}
.dsc-icon-printer {
  &:before {
    content: $dsc-icon-printer; 
  }
}
.dsc-icon-question-mark {
  &:before {
    content: $dsc-icon-question-mark; 
  }
}
.dsc-icon-question-mark-circle {
  &:before {
    content: $dsc-icon-question-mark-circle; 
  }
}
.dsc-icon-radio {
  &:before {
    content: $dsc-icon-radio; 
  }
}
.dsc-icon-radio-button-off {
  &:before {
    content: $dsc-icon-radio-button-off; 
  }
}
.dsc-icon-radio-button-on {
  &:before {
    content: $dsc-icon-radio-button-on; 
  }
}
.dsc-icon-recording {
  &:before {
    content: $dsc-icon-recording; 
  }
}
.dsc-icon-refresh {
  &:before {
    content: $dsc-icon-refresh; 
  }
}
.dsc-icon-repeat {
  &:before {
    content: $dsc-icon-repeat; 
  }
}
.dsc-icon-rewind-left {
  &:before {
    content: $dsc-icon-rewind-left; 
  }
}
.dsc-icon-rewind-right {
  &:before {
    content: $dsc-icon-rewind-right; 
  }
}
.dsc-icon-save {
  &:before {
    content: $dsc-icon-save; 
  }
}
.dsc-icon-scissors {
  &:before {
    content: $dsc-icon-scissors; 
  }
}
.dsc-icon-search {
  &:before {
    content: $dsc-icon-search; 
  }
}
.dsc-icon-settings {
  &:before {
    content: $dsc-icon-settings; 
  }
}
.dsc-icon-settings-2 {
  &:before {
    content: $dsc-icon-settings-2; 
  }
}
.dsc-icon-shake {
  &:before {
    content: $dsc-icon-shake; 
  }
}
.dsc-icon-share {
  &:before {
    content: $dsc-icon-share; 
  }
}
.dsc-icon-shield {
  &:before {
    content: $dsc-icon-shield; 
  }
}
.dsc-icon-shield-off {
  &:before {
    content: $dsc-icon-shield-off; 
  }
}
.dsc-icon-shopping-bag {
  &:before {
    content: $dsc-icon-shopping-bag; 
  }
}
.dsc-icon-shopping-cart {
  &:before {
    content: $dsc-icon-shopping-cart; 
  }
}
.dsc-icon-shuffle {
  &:before {
    content: $dsc-icon-shuffle; 
  }
}
.dsc-icon-shuffle-2 {
  &:before {
    content: $dsc-icon-shuffle-2; 
  }
}
.dsc-icon-skip-back {
  &:before {
    content: $dsc-icon-skip-back; 
  }
}
.dsc-icon-skip-forward {
  &:before {
    content: $dsc-icon-skip-forward; 
  }
}
.dsc-icon-slash {
  &:before {
    content: $dsc-icon-slash; 
  }
}
.dsc-icon-smartphone {
  &:before {
    content: $dsc-icon-smartphone; 
  }
}
.dsc-icon-smiling-face {
  &:before {
    content: $dsc-icon-smiling-face; 
  }
}
.dsc-icon-speaker {
  &:before {
    content: $dsc-icon-speaker; 
  }
}
.dsc-icon-square {
  &:before {
    content: $dsc-icon-square; 
  }
}
.dsc-icon-star {
  &:before {
    content: $dsc-icon-star; 
  }
}
.dsc-icon-stop-circle {
  &:before {
    content: $dsc-icon-stop-circle; 
  }
}
.dsc-icon-sun {
  &:before {
    content: $dsc-icon-sun; 
  }
}
.dsc-icon-swap {
  &:before {
    content: $dsc-icon-swap; 
  }
}
.dsc-icon-sync {
  &:before {
    content: $dsc-icon-sync; 
  }
}
.dsc-icon-text {
  &:before {
    content: $dsc-icon-text; 
  }
}
.dsc-icon-thermometer {
  &:before {
    content: $dsc-icon-thermometer; 
  }
}
.dsc-icon-thermometer-minus {
  &:before {
    content: $dsc-icon-thermometer-minus; 
  }
}
.dsc-icon-thermometer-plus {
  &:before {
    content: $dsc-icon-thermometer-plus; 
  }
}
.dsc-icon-toggle-left {
  &:before {
    content: $dsc-icon-toggle-left; 
  }
}
.dsc-icon-toggle-right {
  &:before {
    content: $dsc-icon-toggle-right; 
  }
}
.dsc-icon-trash {
  &:before {
    content: $dsc-icon-trash; 
  }
}
.dsc-icon-trash-2 {
  &:before {
    content: $dsc-icon-trash-2; 
  }
}
.dsc-icon-trending-down {
  &:before {
    content: $dsc-icon-trending-down; 
  }
}
.dsc-icon-trending-up {
  &:before {
    content: $dsc-icon-trending-up; 
  }
}
.dsc-icon-tv {
  &:before {
    content: $dsc-icon-tv; 
  }
}
.dsc-icon-twitter {
  &:before {
    content: $dsc-icon-twitter; 
  }
}
.dsc-icon-umbrella {
  &:before {
    content: $dsc-icon-umbrella; 
  }
}
.dsc-icon-undo {
  &:before {
    content: $dsc-icon-undo; 
  }
}
.dsc-icon-unlock {
  &:before {
    content: $dsc-icon-unlock; 
  }
}
.dsc-icon-upload {
  &:before {
    content: $dsc-icon-upload; 
  }
}
.dsc-icon-video {
  &:before {
    content: $dsc-icon-video; 
  }
}
.dsc-icon-video-off {
  &:before {
    content: $dsc-icon-video-off; 
  }
}
.dsc-icon-volume-down {
  &:before {
    content: $dsc-icon-volume-down; 
  }
}
.dsc-icon-volume-mute {
  &:before {
    content: $dsc-icon-volume-mute; 
  }
}
.dsc-icon-volume-off {
  &:before {
    content: $dsc-icon-volume-off; 
  }
}
.dsc-icon-volume-up {
  &:before {
    content: $dsc-icon-volume-up; 
  }
}
.dsc-icon-wifi {
  &:before {
    content: $dsc-icon-wifi; 
  }
}
.dsc-icon-wifi-off {
  &:before {
    content: $dsc-icon-wifi-off; 
  }
}

